<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="row">
      <% if @course_managements.blank? %>
        <div class="callout callout-info">
          <h4><%= t(".notifi") %></h4>
        </div>
      <% end %>
      <%= render @course_managements %>
    </div>
    <p><%= will_paginate @course_managements %></p>
  </div>
</div>
