<% provide(:button_text, t(".create")) %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="bg-primary"><%= t(".create_title") %> </h2>
      <%= render "form" %>
    </div>
  </div>
</div>
